<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>My Daily Fortune - Privacy Policy</title>
        <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
        {% style "/css/font-awesome/css/font-awesome.min.css" %}
        {% style "/css/main.css" %}
    </head>
    <body>
        <div id="mainWrapper">
            <!-- <img src="logo.png" class="logo" alt="My Daily Fortune"  width="300px"/> -->
            <!-- <i class="fa fa-info-circle" aria-hidden="true"></i> -->
            <div class="fortuneWrapper">
                <h2>Privacy Policy & Disclaimer</h2>
                <p>My Daily Fortune is owned and operated by <a href="http://www.totalwebconnections.com" target="_blank">Total Web Connections LLC</a>
                </br></br>
                    It is the policy of My Daily Fortune. ( “We”, “Us”) to respect your privacy regarding any information we may collect while using our web service.
                    We do not sell any personal information nor do we share it for purposes other than marketing (generating targeted ads for example) or for improving
                    our service.
                </p>

                <h3>Usage Information</h3>
                    <p>
                    When you use My Daily Fortune we collect basic information about your usage. This information is limited to non persoanlly identifiable information and
                    is for marketing and website improvement.
                    </br></br>

                    Here are some examples of information we collect:
                    <ul>
                        <li>Device operating system, type, device identifiers, and versions.</li>
                        <li>IP address</li>
                        <li>Your device's geographic location</li>
                        <li>Length of time on the site</li>
                    </ul>
                    </p>

                    <h3>Cookies</h3>
                    <p>
                    A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. My Daily Fortune uses cookies to help us identify and track visitors, their usage of our website, and their website access preferences. My Daily Fortune visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using our websites, with the drawback that certain features may not function properly without the aid of cookies.
                    </p>


                    <h3>Ads</h3>
                    <p>
                    Ads appearing on any of our services may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by My My Daily Fortune and does not cover the use of cookies by any advertisers.
                    </p>

                    <h3>Changes To Our Policy</h3>
                    <p>
                        My Daily Fortune reserves the right to change or modify this doucment and our policies at any time. It is suggested
                        to regularly check back to ensure you are up to date with out latest polcies as continued use of our application will
                        constitue acceptance of such changes.
                    </p>
                <div class="clearFix"></div>
            </div>
        </div>
    </body>
</html>
