body,html{
    background-color: white;
    margin: 0;
    height: 100%;
    font-family: 'Happy Monkey', cursive;
    background-image: url('../pattern.png');
    overflow-x:hidden;
}
#mainWrapper{
    height: 100%;
    width: 100%;
    position:relative;
    display:table;
    max-width: 400px;
    margin: 0 auto;
}

.logo{
    position:absolute;
}
.fortuneWrapper{
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    position:relative;
}


.imageWrapper{
    margin: 0 auto;
    position: absolute;
    background-color: red;
}

.left{
    position:absolute;
    left: 9.5%;
    top: -2px;
    transition: all 2s;
    width: 150px;
    z-index: 12;
    /*display:none;*/
}
.right{
    position:absolute;
    top: -1px;
    right: 21%;
    transition: all 2s;
    width: 150px;
    z-index: 10;
    /*display:none;*/
}

.left.open{
    left: -100px;
}

.right.open{
    right: -95px;
}

.left.back, .right.back{transform: translateZ(100px);
transform-style: preserve-3d;}
.holder{position:relative; height: 250px;}

.fortuneText{
    position: absolute;
    z-index: 5;
    top: 8px;
    text-align: center;
    transition: all 2s;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    overflow:hidden;
    background-image: url('../paperbg.jpg');
}
.fortuneText p{
    width: 75%;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
    z-index:2;
    transition: all 2s;
    height: 50%;
}
.fortuneText p.numbers{
    top: 15px;
}
.fortuneText.fortune{opacity: 1;}
.fortuneText .numbers{opacity: 0;}


.fortuneText.back{
    transform: rotateX(180deg);
}
.fortuneText.back .fortune{opacity: 0;}
.fortuneText.back .numbers{opacity: 1; transform: rotateX(-180deg);}

.leftOverlay{
    width: 50%;
    height: 50px;
    background-color: white;
    background-image: url('../pattern.png');
    transition: all 2.40s ease-out;
    position:absolute;
    z-index: 3;
    left: 0;
    background-size: cover;
}
.rightOverlay{
    width: 50%;
    height: 50px;
    background-color: white;
    background-image: url('../pattern.png');
    transition: all 2.40s ease-out;
    z-index: 3;
    position:absolute;
    right: 0;
    background-size: cover;
}
.leftOverlay.open{left:-240px;}
.rightOverlay.open{right:-240px;}

.swipeText{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 25px;
    display:none;
    animation: blink 3s infinite;
}
.swipeText i{
    font-size: 32px;
}
.swipeText.open{
    display:block;
}

.alreadyViewed{
    position:absolute;
    width: 100%;
    text-align: center;
    top: -100px;
    display:none;
}
.alreadyViewed.active{
    display:block;
}

.clearFix{clear:both;}
@keyframes blink {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

@media(max-width: 400px){
    .left{
        left: 9.5%;
    }
    .right{
        right: 17%;
    }
}

@media(max-width: 360px){
    .fortuneText p.numbers{
        top: 0px;
    }
    .left{
        left: 9.5%;
    }
    .right{
        right: 13%;
    }
}
